# Executables
*.exe
*.app

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Visual studio files
*.sdf
*.opensdf
*.rc
*.ico
*.aps
*.vcproj
*.user
*.sln
*.suo

# OSX
.DS_Store

# Xcode
*.pbxproj
*.xcuserstate
*.plist
*.dep
*.xcscheme

# Directories
build/
xbuild/
Data/

# CMake
*.make
*.cmake